/* Menu Superior */
.navbar-brand {
    color: white;
}

.navbar-brand:hover{
    color:#ffcc00
}

.navbar-nav .nav-link {
    color: white; 
}

.navbar-nav .nav-link:hover {
    color: #ffcc00; 
}

/* Body */
body {
    background: linear-gradient(to top, yellow, orange);
    min-height: 100vh;
}

.img-lateral {
    max-width: 100%; 
    height: auto; 
    width: 100%; 
}

/* Cards */
.custom-card {
    border-radius: 15px; 
    overflow: hidden; 
    transition: transform 0.2s, box-shadow 0.2s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.custom-card:hover {
    transform: scale(1.05); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.card-img-top {
    height: 200px; 
    object-fit: cover; 
}

.card-header {
    background-color: orange; 
    color: white; 
    font-weight: bold; 
}

.bg-orange {
    background-color: orange; 
    color: white; 
    padding: 15px; 
    border-radius: 0 0 15px 15px; 
}

.benefit-card {
    border: 1px solid orange;
    border-radius: 8px;
    transition: transform 0.2s;
}
.benefit-card:hover {
    transform: scale(1.05);
}

/* Login */
.login-container {
    max-width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 10px;
    background-color: white; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
    margin-top: 100px; 
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
    color: orange; 
}

.btn-login {
    background-color: orange; 
    color: white; 
}


